{{input type="text" id="new-todo" placeholder="What needs to be done?" 
    value=newTitle action="createTodo"}}

<ul id="todo-list">
    {{#each}}
        <li {{bind-attr class="isCompleted:completed"}}>
            {{input type="checkbox" checked=isCompleted class="toggle"}}
            <label>{{title}}</label><button class="destroy"></button>
        </li>
    {{/each}}
</ul>